*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    padding: 0px;
}

.logo{
    color:#d81f27;
    text-decoration: none;
}

.search-button {
  position: relative;
  width: 300px;
}

.search-input {
  width: 100%;
  height: 40px;
  border: 1px solid #777777;
  border-radius: 50px;
  text-align: center;
  padding-right: 40px; 
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  text-align: center;
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  cursor: pointer;
}

.cart-menu{
    background-color: #d2cdcd47;    
    width: 100%;
    padding: 0px;
    margin: 0px;
    
}

.menu ul li{
    list-style: none;
    text-decoration: none!important ;
    display: inline-block;
    padding: 0px 10px;
    color: #777777;
}

.menu ul li:hover{
    color: black ;
    font-weight: bold;
    cursor: pointer;
}